.RightNav {
    align-items: bottom;
    display: grid;
    background-color: rgb(253, 253, 253);
    text-align: center;
  
  }
  .Followers {

    display: grid;
    background-color: #FFBE00;
    text-align: center;
    border: 2px;
    border-color: black;
    border-radius: 10px;
    height: 100px;
    width: 180px;
    margin: 2%;
    
    
  }
  .Following {
  
    display: grid;
    background-color: rgb(241, 190, 37);
    text-align: center;
    border: 2px;
    border-color: black;
    border-radius: 10px;
    height: 100px;
    width: 180px;
    margin: 2%;
  }