.edit-profile-btn {
    width: 198px;
    height: 40px;
    color: #27B1BE;
    background-color: #fff;
    font-family: Rubik;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    border: none;
    justify-self: start;
    margin: 30px 0;
}

.edit-profile-btn:hover , .edit-profile-btn:active{
    background-color: #27B1BE;
    color: #fff;
}

.profile-photo {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    justify-self: center;
    margin: 0 0 30px;
}

.profile-left-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
}
