
.LogoGrid {
        display: grid;
        grid-template-columns: 100%;
        justify-items: end;
        margin-bottom: 
}

  .App-webpageName{
        color: #E8E8E8;
        font-family: "Montserrat";
        font-weight: bold;
}

  .App-logo {
       width: 20%;
}

  