
.LogoGrid {
        display: grid;
        grid-template-columns: 93%;
        justify-items: end;
}

  .App-webpageName{
        color: #E8E8E8;
        font-size: 60%;
        margin-right: 1%;
        text-shadow: 1px 1px #27B1BE;
}

  .App-logo {
        box-shadow: 10px 10px 31px -15px rgba(0,0,0,0.75);
        border-radius: 50%;
        width: 20%;
        margin-top: 5%;
        margin-left: 50%;

}

  