/* .NewPost{
    background: #FFBE00;
    border-radius: 10px;
    height: 70%;
    box-shadow: 10px 10px 31px -15px rgba(0,0,0,0.75);
    margin-right: 2%;

} */

/*Place holder settings*/
.newPostThoughts{
    padding-left: 5%;
    width: 90%;
    padding-top: 2%;
    border-radius: 20px;
    padding-bottom: 80%;
}

.newPostThoughts::placeholder {
    color: #27B1BE;
    font-size: 140%;

  }

.newPostDuckIt{
    color: #27B1BE;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 80%;


}