.NewPost{
    display: flex;
    flex-direction: column;
    background: #FFBE00;
    border-radius: 10px;
    margin-right: 2%;
    height: 150%;
    width: 100%;
}

/*Place holder settings*/
.newPostThoughts {
    resize: none;
    width: 100%;
    padding: 2% 5% 20%;
    border-radius: 20px;
    border: none;
    background: #FFBE00;
    color: white;
    font-size: 140%;
    overflow-wrap: break-word;
}

.newPostThoughts::placeholder {
    color: #fff;
    font-size: 1.5rem;
}

.newPostThoughts:focus {
    outline: none;
}

.newPostDuckIt {
    align-self: flex-end;
    width: 139px;
    height: 40px;
    color: #27B1BE;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px;
    transition: ease-in 50ms
}

.newPostDuckIt:active{
    transform: scale(0.95)
}

.newPostDuckIt:hover {
    cursor: pointer;
    color: white;
    background-color: #27B1BE;
}

