.notificationCont {
    display: grid;
    grid-template-columns: 95%;
    grid-gap: 10px;
  }
  
  .notification {
    color: blue;
    border-radius: 50px;
    padding: 20px;
    font-size: 100%;
    box-shadow: 5px 5px 30px -15px rgba(0,0,0,0.75);
    background-color: white;
    border-style: solid;
    border-color: #FFBE00;
    border-left-width: thin;
    border-top-width: thin;


  }