.postCont {
  background: #EEEEEE;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 5px 5px 31px -15px rgba(0, 0, 0, 0.75);
}

.postHeader {
  display: grid;
  grid-template-columns: 125px 1fr 1fr;
  grid-template-rows: 1fr 1fr auto auto;
  grid-template-areas: 
  "profilePic displayName displayName"
  "profilePic userName userName"
  "profilePic post post"
  "profilePic postTime postTime"
  "profilePic actions actions";
  text-align: left;
  /* padding: 0px 0px; */
  cursor: pointer;

}

.postHeader h1,
h2 {
  margin: 0;
}

.postProfilePic {
  margin: 15px;
  background: #ffbe00;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  grid-area: profilePic;
}

.postDisplayName {
  margin-top: 15px;
  grid-area: displayName;
  margin-bottom: auto;
}

.postUserName {
  grid-area: userName;
  margin-top: -10px;
  padding-bottom: 50px;
  font-weight: lighter;
  /* margin-bottom: 100px;  */
}

.postBody {
  /* margin-left: 130px; */
  grid-area: post;
  padding-top: 0px;
  margin-top: -40px;
  overflow-wrap: break-word;
  padding-right: 15px;
  text-align: left;
}

.postActions {
  grid-area: actions;
  width: 50%;
  padding-bottom: 10px;
  margin-top: 10px;
  /* margin-left: 130px; */
  text-align: left;
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.25fr;
  grid-template-rows: 1fr;
  grid-template-areas: "like repost comment";
  color: #27b1be;
  font-size: 20px;
  transition: 300ms;
}

.postIconLeft {
  grid-area: like;
}

.fa-heart:Hover {
  color: #27b1be;
  cursor: pointer;
}

.fa-heart:active {
  transform: scale(0.9)
}

.postIconCenter {
  grid-area: repost;
}

.postIconRight {
  grid-area: comment;
}

.postTime {
  grid-area: postTime;
  margin-bottom: auto; 
  text-align: right;
  margin-right: 20px;
}

.hidden {
  display:none
}

.show {
  display: grid
}