.Profile {
            display: grid;
            grid-gap: 8px;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
}
  
.profilePic {
            grid-column: 1;
            grid-row: 1 / 3;
            height: 110px;
            width: 110px;
            border-radius: 100px;
}

.profileDisplayName {
            color: black;
            grid-column: 2/3;
            grid-row: 1/2;
            font-size: 1rem;
            align-items: start;
}
      
.profileThoughtsDucked {
            color: black;
            grid-column: 2/3;
            grid-row: 2/3;
            font-size: 20px;
            align-items: start;
}
