.App {
  text-align: center;
}

.App-logo {
  border-radius: 50%;
  width: 5%;
}


/*Grid properties*/
.App {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  color: #444;
}

.LeftNav{
  padding: 20px;
}

.RightNav{
  padding: 20px;
}
