.App {
  text-align: center;
  margin: 40px;
}

.App-logo {
  border-radius: 50%;
  width: 5%;
}


/*Grid properties*/
.App {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-gap: 10px;
  color: #444;
}
